/* ------body----- */
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-left: 0%;
}
p{
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
address{
    font-style: normal;
}
button{
    cursor: pointer;
}
body{
    font-family: "Roboto", sans-serif;
    background-color:  #fff;
    color: #434455;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

/* -------header-------- */
.header {
    border-bottom: 1px solid #e7e9fc;
    /* box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08); */
}
.header-container {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight:700;
    font-size:18px;
    line-height:1.17;
    letter-spacing:0.03em;
    text-transform:uppercase;
    color:#4d5ae5;
    margin-right: 76px;
}
.header-logo-part {
    color:#2e2f42;
}
.header-menu-list {
    display: flex;
    gap: 40px;
}
.nav-block{
    position: relative;
    color: #404bbf;

}
.nav-block::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
        width: 100%;
        height: 4px;
}
.header-menu-link{
    font-weight:500;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover {
    color:#404bbf;}

.header-menu-link:focus {
    color:#404bbf;
}
.header-menu-link:active {
    color:#4d5ae5;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.contact-details {
    display: flex;
    gap: 40px;
}
.contact-item{
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item:hover {
    color: #404bbf 
}
.contact-item:focus {
    color: #404bbf 
}

/* .main {

} */
/* -------section business */
.business {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/img11.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.business-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 48px;
}
.business-button { 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    min-width: 169px;
    height: 56px;
    display: block; 
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.business-button:hover { 
    cursor: pointer;
    background-color: #404BBF;
}
.business-button:focus {
    cursor: pointer;
    background-color: #404BBF;
}
/* .business-button:active {
    
} */

/* --------section first --------*/

.first {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.first-lists {
    display: flex;
    gap: 24px;
}
.first-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.first-icon-svg {
    padding: 24px 100;
}
.first-item {
    width: calc((100% - 72px) / 4);
}
.first-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}
.first-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -------section second--------- */

.second {
    padding: 120px 0;
    /* display: block;
    width: 1440px;
    height: 732px;
    margin-bottom: 120px; */
    background-color: #F4F4FD;
}
.second-subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    flex-direction: column; 
    margin-bottom: 72px;
    color: #2e2f42;
}
.second-lists {
    flex-direction: row;
    display: flex;
    gap: 24px;
    background-color:#FFFFFF;
}
.second-list{
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.second-lists-svg {
    display: flex;
    gap: 24px;
    justify-content: center;
    /* align-items: center; */
}

.second-link-svg {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content:center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.second-link-svg:hover {
background-color: #404bbf;
}
.second-link-svg:focus {
    background-color: #404bbf;;
}

.second-list-svg {
    width: 40px;
    height: 40px;
}

.second-icon-svg {
    fill: #f4f4fd;
}

.second-list-block {
    padding: 32px 0;
}
.second-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}
.second-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* --------section three------ */

.section-three {
    padding-top: 120px;
    padding-bottom: 120px; 

}
.three-subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    /* margin-top: 120px; */
}
.three-lists {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}

.three-lists-wrap {
    gap: 24px;
    height: auto;
    display: flex;
    width: 1128px;
    height: 420px;
    margin-bottom: 48px;
}
.three-list {
    width: calc((100% - 48px) / 3);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.three-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.three-img {
    width: 360px;
    height: 300px;
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%); */
}
.three-img-box {
    position: relative;
    overflow: hidden;
}
.three-img-box:hover {
    /* transform: translateY(0%); */
}
.three-list-box{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}
.three-img-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transform: translateY(100%); 
}
.three-img-text:hover {
    transform: translateY(0%);
}

.three-heading {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.three-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* ----------footer---------- */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #2e2f42;
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-logo-box{
    margin-right: 120px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo-part {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
} 
.footer-lists {
    display: flex;
    gap: 16px;
}
.footer-social{

}
.footer-social-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.footer-link:hover {
background-color: #31d0aa;
}
.footer-link:focus {
    background-color: #31d0aa;
}
.footer-list {
    width: 40px;
    height: 40px;

}

.footer-icon-svg {
    fill: #f4f4fd;

}

